<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Manager</title>
</head>

<body>
    <h1>File Upload App</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload File</button>
    </form>

    <h2>File List</h2>
    <ul>
        <% files.forEach(file=> { %>
            <li>
                <%= file %>
                    <a href="/download/<%= encodeURIComponent(file) %>">Download</a>
                    <form action="/delete" method="post">
                        <input type="hidden" name="fileName" value="<%= file %>">
                        <button type="submit">Delete</button>
                    </form>
            </li>
            <% }); %>
    </ul>
    <!-- <table>
        <% files.forEach(file=> { %>
            <li>
                <%= file %>
                    <a href="/download/<%= encodeURIComponent(file) %>">Download</a>
                    <form action="/delete" method="post">
                        <input type="hidden" name="fileName" value="<%= file %>">
                        <button type="submit">Delete</button>
                    </form>
            </li>
            <% }); %>
    </table> -->
</body>

</html>